.sorting_panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height : 545px;
  width: auto;
  overflow: hidden;
  
  margin: 0px;
  padding: 5px;
  border: 2px solid black;
  
  background-color: black;
}

.sorting_table {
  border: 1px solid black;
  border-spacing: 0;
  border-radius: 5px;
  
  font-size: 12px;
  
  background-color: white;
}

.data_row {
  font-family: monospace;
  outline: thin solid;
}

.data_row.hover {
  background-color: rgba(188, 143, 242, .5);
}

.data_row.selected {
  background-color: rgba(188, 143, 242, 1);
}

.footer_row {
  background-color: rgb(220, 220, 220);
}

.footer_button_cell {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.footer_button {
  display: flex;
  width: 15px;
  height: 15px;
  border-right: 1px solid black;
  align-items: center;
  justify-content: center;
}

.border-right {
  border-right: 1px solid black;
}

.thick_border_bottom {
  border-bottom: 2px solid black;
}

.thick_border_top {
  border-top: 2px solid black;
}

.title_column_width {
  width: 85px
}

.color_column_width {
  width: 50px
}

.collapsed_column_width {
  width: 65px
}