.sorting_panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height : 545px;
  width: auto;
  overflow: hidden;
  
  margin: 0px;
  padding: 5px;
  border: 2px solid black;
  
  background-color: black;
}

.sorting_table {
  border: 1px solid black;
  border-collapse: collapse;
  
  font-size: 12px;
  
  background-color: white;
}

.header_row {
  border-bottom: 1px solid black;
}

.data_row {
  font-family: monospace;
}

.footer_row {
  background-color: rgb(220, 220, 220);
}

.data_row.hover {
  background-color: rgba(188, 143, 242, .5);
}

.data_row.selected {
  background-color: rgba(188, 143, 242, 1);
}

.first_column {
  border-right: 1px solid black;
}

.title_column_width {
  width: 85px
}

.color_column_width {
  width: 50px
}

.collapsed_column_width {
  width: 65px
}

.table_data {
  border: 1px solid black;
}

.footer_header {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.footer_button {
  display: flex;
  width: 15px;
  height: 15px;
  border-right: 1px solid black;
  align-items: center;
  justify-content: center;
}