.sorting_panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height : 545px;
  width: auto;
  overflow: hidden;
  
  margin: 0px;
  padding: 5px;
  border: 2px solid black;
  
  background-color: black;
}

.sorting_table {
  border: 1px solid black;
  border-spacing: 0;
  border-radius: 5px;
  
  font-size: 12px;
  
  background-color: white;
}

.sorting_table td {
  padding: 2px;
}

.data_row {
  font-family: monospace;
  outline: thin solid;
}

.edit_row {
  font-family: monospace;
  word-break: break-all;
  outline: thin solid;

  background-color: rgba(50, 50, 250, 0.3);
  min-height: 17px;
}

.remove_row {
  font-family: monospace;
  outline: thin solid;
  background-color: rgba(250, 0, 0, .3);
}

.insert_row {
  font-family: monospace;
  word-break: break-all;
  outline: thin solid;

  background-color: rgba(248, 213, 117, .3);
  min-height: 17px;  
}

.dropdown_cell select {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  outline: 0;
}

.data_row.hover {
  /* background-color: rgba(188, 143, 242, .5); */
  background-color: rgba(170, 255, 0, .3)
}

tr.data_row.selected {
  /* background-color: rgba(188, 143, 242, 1); */
  background-color: rgb(170, 255, 0);
}

.footer_row {
  background-color: rgb(220, 220, 220);
}

.footer_button_cell {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.footer_button {
  display: flex;
  width: 17px;
  height: 17px;
  border: 0;
  border-right: 1px solid black;
  align-items: center;
  justify-content: center;
}

#footer_button_remove,
#footer_button_add {
  font-size: 23px;
}

#footer_button_edit {
  font-size: 17px;
}

#footer_button_refresh {
  align-items: center;
  padding-bottom: 3px;
  font-size: 23px;
}

#footer_button_save {
  font-size: 17px;
}

.border-right {
  border-right: 1px solid black;
}

.thick_border_bottom {
  border-bottom: 2px solid black;
}

.thick_border_top {
  border-top: 2px solid black;
}

.title_column_width {
  width: 85px
}

.color_column_width {
  width: 50px
}

.collapsed_column_width {
  width: 65px
}